@import '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

// https://color.adobe.com/zen-and-tea-color-theme-337112/
@blue: #152d38;
@tea-0: #3e4a21;
@tea-1: #95AB63;
@gray-1: #ababab;
@tea-2: #BDD684;
@gray-2: #d4d4d4;
@pale-1: #E2F0D6;
@pale-2: #F6FFE0;
@exception-color: #cd4e20;
@warning-color: #cda852;
@info-color: #68b5dd;
@pad: 10px;
@font-size: 14px;

body, input, textarea, select {
  font-size: @font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: @font-size * 1.7;
}

h2 {
  font-size: @font-size * 1.5;
}

h3 {
  font-size: @font-size * 1.33;
}

tr th {
  font-weight: bold;
  text-align: left;
}
