.taboo-tab-bar {
  display: flex;
  border-bottom: 1px solid @tea-2;
  a {
    flex: 1;
    padding: @pad;
    color: @tea-0;
    text-decoration: none;

    &:hover {
      background: @pale-2;
    }

    &.taboo-tab-active {
      background: @pale-1;
      color: #000;
    }
  }
}

.object-table {
  width: 100%;
  margin-bottom: @pad;
  border-collapse: collapse;
  th,
  td {
    border-bottom: 1px solid @tea-2;
  }
}

nav.top {
  padding: @pad;
  background: @tea-2;
  border-bottom: 1px solid @tea-1;
  display: flex;

  h1 {
    margin: 0;
    flex: 1;
  }

  &.event-exception {
    background: @exception-color;
    color: #fff;
  }
  &.event-log-40,
  &.event-log-50 {
    background: @warning-color;
  }
  &.event-log-30 {
    background: @info-color;
  }

  .actions {
    flex: 0;
  }
}
