
html, body {
  min-height: 100vh;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex: 1;
}

.main-container {
  display: flex;
  flex: 1;
}

nav.main {
  background: @blue;
  width: 70px;
  top: 0;
  bottom: 0;
  padding: @pad;
  img {
    width: 80%;
    margin: auto;
    display: block;
  }
}

main {
  flex: 1;
}
